html, body{
	font-family: 'montserrat';
}

#logoutbtn{
	background-color: #EF0606;
	margin-top: 10px;
	margin-bottom: 0px;
}

.navbar{
	height: 50px;
}

.navbar-brand{
	top: 10px;
}



#addbook{
	margin: 10px;
	background-color: #EF0606;
	color: white;
	box-shadow: 1px 1px 3px gray;
}

#borrow{
	background-color: #EF0606;
	color: white;
	box-shadow: 1px 1px 3px gray;
	margin: 10px;
}

#submit{
	background-color: #EF0606;
	color: white;
	box-shadow: 1px 1px 3px gray;
}

#returnbtn{
	background-color: #EF0606;
	color: white;
	box-shadow: 1px 1px 3px gray;
}

#home{
	background-color: #EF0606;
	color: white;
	box-shadow: 1px 1px 3px gray;
}

#up{
	background-color: #EF0606;
	color: white;
	box-shadow: 1px 1px 3px gray;

}

#jumbo1{
	background: url(1.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 80px;
	padding-top: 150px;
	padding-bottom: 150px;
	color: white;
	min-height: 500px;
	margin: 0px;
}



#addrev{
	background-color: #EF0606;
	color: white;
	box-shadow: 1px 1px 3px gray;
}

#cons{
	background-color: #F4F4F4;
	padding: 10px;

}

h5, #logo{
	margin: 5px;
}

.box_margin{
	margin-top: 30px;
}


